@model Atm11.AtmAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AtmAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccType.AccountType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccType.AccountType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.atmaccId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
